<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>

	<li class="list-group-item"> 
		<%= item.name %>
		<%= link_to "" , [current_user, item] , method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
	</li>
<% end %>